
<div class="dashboard-container">
 <app-hero [learnerName]="learnerProfile.name"></app-hero>
 <app-dashboard-data [stats]="learnerStats"></app-dashboard-data>
 <app-dashboard-cases></app-dashboard-cases>
  <app-dashboard-footer></app-dashboard-footer>
</div>
















<!-- <div class="container">
  <div class="card stats-card">

    <h3 style="margin-bottom:20px;">
      Patient Arrival Statistics
    </h3>

    <div class="chart-wrapper">
      <canvas #lineChart></canvas>
    </div>

  </div>


  <div class="card report-card">

    <div class="header">
      <h3>📊 Report</h3>
      <button class="btn">+ Add Report</button>
    </div>

    <div class="chart-container">

      <canvas #donutChart width="220" height="220"></canvas>

      <div class="center-text">
        <span>Total Done</span>
        <strong>75%</strong>
      </div>

    </div>

    <div class="legend">

      <div>
        <span class="dot urgent"></span>
        Urgent <br> 35%
      </div>

      <div>
        <span class="dot moderate"></span>
        Moderate <br> 25%
      </div>

      <div>
        <span class="dot low"></span>
        Low <br> 15%
      </div>

    </div>

  </div>

</div> -->
